<div class="modal-header">
  <h4 class="modal-title">Введите логин и пароль</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group row">
      <label for="loginInput" class="col-4 col-form-label">логин</label>
      <div class="col-8">
        <input type="text" class="form-control" id="loginInput">
      </div>
    </div>
    <div class="form-group row">
      <label for="passwdInput" class="col-4 col-form-label">Пароль</label>
      <div class="col-8">
        <input type="text" class="form-control" id="passwdInput">
      </div>
    </div>
  </form>
  <div class="row"><a (click)="resetPasswd()">Забыли пароль</a></div>
  <div class="row">Новичок? Тогда <a (click)="openRegisterForm()">зарегистрируйся</a></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
