<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">GO</a>
      <button class="navbar-toggler" data-toggle="collapse"
              data-target="#navbarSupportContent"
              area-controls="navbarSupportContent"
              area-expanded="false"
              area-label="Выбрать в меню"
              type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportContent" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Топ10 игроков</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Отложенные партии</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Посмотреть текущие партии</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Начать новую партию</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" (click)="login()">Войти</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>